<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.pawsql.ia.plugin.commands.category"
            name="%category.name">
      </category>
      <command
            categoryId="com.pawsql.ia.plugin.commands.category"
            name="%command.name"
            id="com.pawsql.ia.plugin.commands.runia">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.pawsql.ia.plugin.handlers.IAHandler"
            commandId="com.pawsql.ia.plugin.commands.runia">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.pawsql.ia.plugin.commands.runia"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+0">
      </key>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
          <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
             <command
            label="%command.label"
            commandId="com.pawsql.ia.plugin.commands.runia">
      </command>
      </menuContribution>
   </extension>
      <extension
         point="org.eclipse.ui.preferencePages">
      <page
            id="com.pawsql.ia.plugin.defaultPreferences"
            name="%page.name"
            class="com.pawsql.ia.plugin.properties.IAPropertyPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.pawsql.ia.plugin.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
            <page
            id="com.pawsql.ia.plugin.properties.IndexAdvisorPropertyPage.project"
            name="%page.name.0"
            class="com.pawsql.ia.plugin.properties.IAPropertyPage"
            objectClass="org.eclipse.core.resources.IProject"
	        adaptable="true"
            >
      </page>
   </extension>
</plugin>
